.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  .wrapper > *  {
    flex: 0 0 auto;
    margin: 4px 0;
  }
  footer > * {
    margin: 0 8px;
  }
  footer > *:last-child {
    margin-right: 0;
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .row > * {
    margin: 0 8px;
  }
  .row > *:first-child {
    margin-left: 0;
  }
  .row > *:last-child {
    margin-right: 0;
  }
  .row sp-textfield, .row sp-checkbox, .row sp-detail {
    flex: 1 1 auto;
  }
  .row sp-button {
    flex: 0 0 auto;
  }
  #output {
    background: var(--uxp-host-widget-hover-background-color);
    padding: 14px;
    border-radius: 4px;
    border: 1px solid var(--uxp-host-widget-hover-border-color);
    font-family: 'Source Code Pro', 'Menlo', 'Courier New', Courier, monospace;
    white-space: pre-wrap;
  }
  #state {
    position: relative;
    margin-left: 1.5em ;
  }
  #state:before {
    content: '';
    position: absolute;
    left: -1.5em;
    top: .5em;
    width: 1em; height: 1em;
    border-radius: .5em;
  }
  #state.negative:before {
    background-color: red;
    border: 1px solid rgba(255,255,255,0.25);
  }
  #state.positive:before {
    background-color: green;
    border: 1px solid rgba(255,255,255,0.25);
  }